
input {
  width: 600px;
  height: 40px;
  font-size: 18px;
}

button {
  margin-left: 20px;
  height: 40px;
  width: 100px;
}



.oneTodo {
  display: flex;
  flex-direction: row;
  // background:pink;
}

label {
  display: flex;
  flex-direction: row;
  // background:green;
}

.box {
  display: flex;
  align-items: center;
  align-content: center;
  margin-top: 20px;
  margin-right: 20px;
}


// .plates input + label:before {
//   content: '⬜️';
//   margin-right: 10px;
// }

// .plates input:checked + label:before {
//   content: '🌮';
// }

.taskDone {
  text-decoration: line-through;
}

.headlines {
  background: yellow;
  width: 40%;
  font-size: 10px;

}

.card {
  background: pink;
}

li:before {
  content: '👾';
  margin-left: -20px;
  margin-right: 10px;
  font-size: 22px;
}