
* {
  box-sizing: border-box;
}

body {
  margin: 20px;
  background-color: lightblue;
}

.title {
  text-align: center;
}

input {
  width: 600px;
  height: 40px;
  font-size: 18px;
}

button {
  margin-left: 20px;
  height: 40px;
  width: 100px;
  
}

button.bin {
  height: 20px;
  width: 30px;
  text-align: center;
}




.oneTodo {
  display: flex;
  flex-direction: row;
  // background:pink;
}

label {
  display: flex;
  flex-direction: row;
  // background:green;
}

.box {
  display: flex;
  align-items: center;
  align-content: center;
  margin-top: 20px;
  margin-right: 20px;
}

form {
  display: flex;
  flex-direction: row;
}


// .plates input + label:before {
//   content: '⬜️';
//   margin-right: 10px;
// }

// .plates input:checked + label:before {
//   content: '🌮';
// }

.taskDone {
  text-decoration: line-through;
}

.headlines {
  background: yellow;
  width: 40%;
  font-size: 10px;
  width: 90%;

}

.card {
  background: pink;
  
}

li:before {
  content: '👾';
  margin-left: -20px;
  margin-right: 10px;
  font-size: 22px;
}

.list {
  display: flex;
  flex-direction: row;
  margin:0;
}

.weather-icon {
  height: 120px;
  width: 120px;
}

.parent-wrapper {
  display: flex;
  flex-direction: row;
}

.left {
  background-color: rgb(186, 242, 186);
  width: 90vw;
}

.right {
  background-color: rgb(240, 180, 210);
}

.remaining-left {
  
  
  margin: 5px;
  font-size: 35px;
  background: red;
  padding: 3px 12px;
  border-radius: 150px;
  
  
}